---
import CopyIcon from '../icons/CopyIcon.astro'
import '../styles/global.css'

const options = [
  'Include Uppercase Letters',
  'Include Lowercase Letters',
  'Include Numbers',
  'Include Symbols'
]
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class='text-center w-full'>
      <h2 class='text-2xl text-[var(--grey)] mb-8'>Password Generator</h2>
      <div
        class='w-full h-20 bg-[var(--dark-grey)] flex justify-between items-center py-5 px-8'
      >
        <h1 class='text-[32px]'>password</h1>
        <CopyIcon />
      </div>
      <section class='text-left mt-6 w-full bg-[var(--dark-grey)] py-5 px-8'>
        <div class='flex justify-between items-center mb-4'>
          <label class='text-lg' for='input-range'>Character Length</label>
          <span class='text-[32px] text-[var(--neon-green)]'>10</span>
        </div>
        <input type='range' class='w-full' id='input-range' />
        <div>
          <ul>
            {
              options.map((item) => (
                <li class='flex gap-6 mb-5 mt-8 items-center'>
                  <div class='w-5 h-5 border-2 border-white' />
                  <p>{item}</p>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
